@use "./settings" as var;

header {
  position: relative;
  display: grid;
  margin-top: 50px;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 30px;
  padding-bottom: 50px;
  background: rgb(238, 238, 238);
  @media only screen and (max-width: 900px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .ligue {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 200px;
    transform: translate(0, -50%);
    filter: grayscale(100%);
  }
  .reseaux {
    display: flex;
    position: absolute;
    right: 100px;
    top: 100px;
    width: 200px;
    font-size: 1.6rem;
    i {
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
      // transform: translate(-50%);
    }
  }
  .logo {
    width: 300px;
  }
  .logo {
    margin: 50px;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    ul {
      font-family: var.$font1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      font-size: 1.6rem;
      user-select: none;
      font-weight: bold;
      li:not(:first-child) {
        transition: transform 0.2s;
        position: relative;
        &::after {
          opacity: 0;
          top: -5px;
          position: absolute;
          content: "";
          width: 100%;
          height: 5px;
          background: var.$color1;
          border-radius: 20px;
          transition: all 0.2s ease;
          left: -100px;
          opacity: 0;
        }
        &:hover::after {
          left: 0;
          opacity: 1;
        }
      }
    }
    .acceuil {
      position: relative;
      &::after {
        left: 0;
        top: -5px;
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        background: var.$color1;
        border-radius: 20px;
      }
    }
  }
}
