@use "./settings" as var;

header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background: rgb(233, 233, 233);
  @media only screen and (max-width: 1040px) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
  }
  @media only screen and (max-width: 800px) {
    grid-template-rows: 1fr 1fr;
    height: 50vh;
  }

  .reseaux {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 150px;
    top: 50px;
    font-size: 1.6rem;
    transform: translate(-50%, -50%);
    height: 100%;
    justify-content: space-around;
    i {
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .logo {
    width: 130px;
    transition: all 0.2s ease;
    margin: 5px;
    @media only screen and (max-width: 800px) {
      margin: 50px;
    }
    &:hover {
      scale: 1.1;
      rotate: -20deg;
    }
  }
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media only screen and (max-width: 800px) {
      display: none;
    }
    ul {
      font-family: var.$font1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      font-size: 1.6rem;
      user-select: none;
      font-weight: bold;
      text-transform: uppercase;
      li:nth-child(2) {
        position: relative;
        .equipes {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 110%;
          margin: 20px 0;
          background: rgb(233, 233, 233);
        }
      }
      li:not(:first-child) {
        transition: transform 0.2s;
        position: relative;
        &::after {
          opacity: 0;
          top: -5px;
          position: absolute;
          content: "";
          width: 100%;
          height: 5px;
          background: var.$color1;
          border-radius: 20px;
          transition: all 0.2s ease;
          left: -100px;
          opacity: 0;
        }
        &:hover::after {
          left: 0;
          opacity: 1;
        }
      }
    }
    .acceuil {
      position: relative;
      &::after {
        left: 0;
        top: -5px;
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        background: var.$color1;
        border-radius: 20px;
      }
    }
  }
}
