@use "settings" as var;

.gymnasesContainer {
  width: 100%;
  margin-top: 50px;
  .gymnases {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background: rgba(238, 238, 238);
    height: 100%;
    .gymnasesLeft,
    .gymnasesRight {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
      .gymnasesLeftTop{
        background: url(./layouts/Gymnases/arnassan.png) center/cover;
      }
      .gymnasesLeftbot{
        background: url(./layouts/Gymnases/spinosi.png) center/cover;
      }
      .gymnasesRightTop{
        background: url(./layouts/Gymnases/collège.png) center/cover;
      }
      .gymnasesRightBot{
        background: url(./layouts/Gymnases/hall.png) center/cover;
      }
    }
    .adress{
      color: white;
      text-shadow: 9px 4px 11px black;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0px 0px 8px 0px black;
      transition: transform 0.3s ease;
      text-align: center;
      border-radius: 10px;
      height: 150px;
      margin: 10px;
      &:hover{
        transform: scale(1.2);
      }
      h3{
        font-size: 1.5rem;
      }
    }
  }
}

.partenairesCountainer {
  display: flex;
  align-items: center;
  background: rgba(238, 238, 238);
  padding: 40px;

  @media screen and (max-width: 1000px) {
    height: 200px;
  }

  .partenaires {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      opacity: 0.6;
      width: 120px;
      transition: all 0.4s ease;
      filter: grayscale(100%);
      @media screen and (max-width: 1000px) {
        width: 50px;
      }
      &:hover {
        opacity: 1;
        transform: scale(1.3);
        filter: grayscale(0%);
      }
    }
    .part1,
    .part2 {
      padding: 10px 0;
      display: flex;
      width: 70%;
      justify-content: space-around;
      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}
