@use "settings" as var;

.partenairesCountainer {
  display: flex;
  align-items: center;
  height: 400px;
  background: rgba(238, 238, 238);

  .partenaires {
    height: 200px;
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    img {
      width: 20%;
      opacity: 0.6;
    }
  }
}
