@use "./settings" as var;

.maps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var.$color2;
  margin-top: 50px;
  border-radius: 70px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    iframe {
        width: 100%;
    }
    span {
      @include var.title;
      &:after {
        @include var.after;
      }
    }
  }
}
.adressGymnase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-right: dashed 2px var.$color3;
  border-radius: 0 200px 200px 0;
  // background: var.$color2;
  background: rgb(161,161,170);
  background: radial-gradient(circle, rgba(161,161,170,1) 25%, rgba(255,255,255,1) 95%);
  
  .adressGymnase2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 200px 200px 0;
    border: solid 2px var.$color3;
    border-left: none;
    height: 80%;
    width: 80%;
    margin: 0;
    padding: 5px;
    text-align: left;
    
    &:after {
      position: absolute;
      content: "";
      background: var.$color3;
      width: 5px;
      border-radius: 5px;
      height: 50px;
      right: -35px;
    }
    .adress {
      margin-top: 20px;
      display: flex;
      align-items: baseline;
      gap: 10px;
      padding-left: 10px;
      a {
        color: var.$color5;
      }
      i {
        margin-right: 10px;
        color: var.$color5;
      }
      p {
        i {
          visibility: hidden;
          position: absolute;
          transform: translateX(-30px);
          left: 250px;
          transition: all 0.4s ease-in-out;
        }
        &:hover {
          i {
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
