@use "settings" as var;

// Section inscription

#section2 {
  color: rgb(2, 2, 2);
  @include var.section;
  padding: 100px;
  @media screen and (max-width: 1120px) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  @media screen and (max-width: 770px) {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  .inscription-left,
  .inscription-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: rgba(238, 238, 238);
    font-size: 1.5rem;
    background: linear-gradient(
      90deg,
      rgba(36, 36, 36, 1) 16%,
      rgba(11, 7, 7, 1) 89%
    );
    @media screen and (max-width: 1120px) {
      height: 100vh;
    }

    h2 {
      background: var.$color5;
      height: 100%;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
    }
    .documents {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      .formulaire {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 300px;

        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f061";
          display: inline-block;
        }
        a {
          width: 100%;
          color: var.$color3;
          height: 100%;
          &:hover {
            color: white;
            background: rgba(0, 0, 0, 0.952);
          }
        }
      }
    }
  }
  .inscription-right {
    p {
      @media screen and (max-width: 1120px) {
        padding: 50px;
      }
    }
  }
}
