@use "settings" as var;

// Section planning plan etc

#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1120px) {
    padding: 0;
  }
  th {
    padding: 20px;
    font-size: 2rem;
    color: white;
    background: linear-gradient(
      90deg,
      rgba(36, 36, 36, 1) 16%,
      rgba(11, 7, 7, 1) 89%
    );
    box-shadow: 5px 3px 9px 1px black;
    border-radius: 10px;
    text-shadow: 7px 6px 9px black;
    @media screen and (max-width: 1120px) {
      font-size: 1rem;
      padding: 0;

    }


  }
  table {
    height: 100vh;
    margin: 0 auto;
    border-spacing: 10px;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;

    @media screen and (max-width: 1120px) {
      width: 100%;
    }
    td {
      font-weight: bold;
      background: rgb(255, 242, 92);
      background: linear-gradient(
        90deg,
        rgba(255, 242, 92, 1) 49%,
        rgba(255, 245, 124, 1) 87%
      );
      box-shadow: 5px 3px 9px 1px black;
      text-shadow: 10px 7px 8px #dfd451;
      text-align: center;
      font-size: 2rem;
      height: 14.28%;
      border-radius: 10px;
      line-height: 35px;
      transition: transform 0.3s ease;
      &:hover{
        transform: scale(1.3);
      }

      @media screen and (max-width: 1120px) {
        font-size: 1rem;
      }

    }
    td:empty {
      background: none;
      box-shadow: none;

    }
  }
  th:nth-child(1) {
    height: 20px;
  }
}
