@use "settings" as var;

// Section inscription

#section2 {
  background: rgb(235, 235, 235);
  color: rgb(2, 2, 2);
  @include var.section;
  padding: 100px;
  .inscription-left, .inscription-right {
    width: 100%;
    margin: 0 auto;
    background: var.$color3;
    color: var.$color2;
    border-radius: 30px;


    p {
      width: 400px;
      margin: 50px auto;
      font-size: 1.3rem;
      padding-top: 50px;
    }
    h2{
      padding-top: 50px;
    }
  }
}
