@use "./settings" as var;

section {
  .section1 {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    margin-top: 20px;
    border-radius: 0 70px 70px 0;
    overflow: hidden;
    height: 600px;
    font-family: var.$font1;
    backdrop-filter: blur(2px);
    background: var.$color4;

    .adressGymnase {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      border-right: dashed 2px var.$color3;
      border-radius: 0 200px 200px 0;

      .adressGymnase2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 200px 200px 0;
        border: solid 2px var.$color3;
        border-left: none;
        height: 80%;
        width: 80%;
        margin: 0;
        padding: 5px;
        text-align: left;

        &:after {
          position: absolute;
          content: "";
          background: var.$color3;
          width: 5px;
          border-radius: 5px;
          height: 50px;
          right: -35px;
        }
        .adress {
          margin-top: 20px;
          display: flex;
          align-items: baseline;
          gap: 10px;
          padding-left: 10px;
          color: whitesmoke;
          i {
            margin-right: 10px;
          }
          h3 {
            display: inline-block;
          }
        }
      }
    }
    .infos {
      border-right: 2px solid var.$color3;
      position: relative;
      font-size: 1.2rem;
      a {
        background: var.$color2;
        color: rgb(10, 10, 10);
        opacity: 0.8;
      }
      p {
        margin-bottom: 20px;
      }
      &:after {
        position: absolute;
        content: "";
        border: 2px solid var.$color3;
        height: 2px;
        width: 2px;
        border-radius: 50%;
        top: 50%;
        right: -4px;
        transform: translateY(-50%);
      }

      .infos,
      .infos2 {
        padding: 50px;
        h2 {
          text-align: center;
          margin-bottom: 20px;
          position: relative;
          display: inline-block;
          &::after {
            left: 0;
            top: -5px;
            position: absolute;
            content: "";
            width: 100%;
            height: 5px;
            background: var.$color1;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
