@use "settings" as var;

#section4{
    margin: 0 auto;
    th{
        font-size: 2rem;
        color: black;
        background: var.$color5;
    }
    table {
        background: var.$color3;
        width: 929px;
        height: 100vh;
        margin: 0 auto;
        @media screen and (max-width: 1000px) {
            width: 100%;
        }
        img{
            width: 100px;
        }
        td{
            background: white;
            text-align: center;
            font-size: 2rem;
            height: 14.28%;
            width: 40%;
            @media screen and (max-width: 1120px) {

            }
        }
      }
}