@use "settings" as var;

// Section planning plan etc

#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  th {
    font-size: 2rem;
    color: white;
    background: black;
    border-radius: 20px;
    box-shadow: 5px 3px 9px 1px black;
    border-radius: 10px;
    @media screen and (max-width: 1000px) {
      font-size: 1rem;;
    }


  }
  table {
    width: 929px;
    height: 100vh;
    margin: 0 auto;
    border-spacing: 10px;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
    td {
      font-weight: bold;
      background: rgb(255, 242, 92);
      background: linear-gradient(
        90deg,
        rgba(255, 242, 92, 1) 49%,
        rgba(255, 245, 124, 1) 87%
      );
      box-shadow: 5px 3px 9px 1px black;
      text-shadow: 10px 7px 8px #dfd451;
      text-align: center;
      font-size: 2rem;
      height: 14.28%;
      border-radius: 10px;
      line-height: 35px;

      @media screen and (max-width: 1000px) {
        font-size: 1rem;
      }

    }
    td:empty {
      background: none;
      box-shadow: none;

    }
  }
  th:nth-child(1) {
    height: 20px;
  }
}
