@use "settings" as var;

// Section inscription

#section2 {
  background: white;
  color: black;
  @include var.section;
  .inscription {
    p {
      width: 200px;
      margin: 50px auto;
    }
  }
}
