
// Section planning plan etc

#section3{
    background: black;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-top: 100px;
}