@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

$font1: "Quicksand", sans-serif;
$color1: rgb(241, 230, 13);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  max-width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background: rgb(224, 224, 224);
  min-height: 200vh;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
