body {
  background: rgb(10, 10, 10);
  .box {
    margin: 10px;
    width: 150px;
    height: 150px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    .countainer-lignes {
      pointer-events: none;
      width: 100px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .ligne {
        position: absolute;
        border-radius: 10px;
        width: 100px;
        height: 10px;
        background: black;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: 25px;
          transition: opacity 0.4s ease-in-out;
        }
        &:nth-child(3) {
          top: 50px;
        }
      }
    }
  }
}

//Animation
.b1.active {
  .ligne:first-child {
    top: 25px !important;
    transform: rotate(45deg);
    transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
  }
  .ligne:nth-child(2) {
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
  }
  .ligne:nth-child(3) {
    top: 25px !important;
    transform: rotate(-45deg);
    transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
  }
}
.b1 .ligne:first-child,
.ligne:nth-child(3) {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out;
}

